/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Uncial+Antiqua&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Uncial Antiqua";
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620;
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --light-highlight-color: #7a9fc2;
}

header {
    color: var(--primary-color);
    text-align: center;
}

#header .text-center {
    text-align: center;
}

body {
    font-family: var(--primary-font);
}

/* Headings use Almendra for stylistic contrast with primary font */
h1,
h2,
h3 {
    font-family: "Almendra", serif;
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: capitalize;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar Styles */
#navbar {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    position: static;
}

#navbar .logo {
    width: 35px;
}

/* Header */
#header .lead {
    font-family: "Almendra", serif;
}

/* Services */
#services .card {
    margin-bottom: 1.5rem;
}

.thick-border {
    border-bottom: 2px solid #0f0b09;
}

#new-games .card,
#fav-games .card {
    border: none;
}

#booking-form-left {
    background-color: var(--light-highlight-color);
    color: #ffffff;
}


.custom-button-outline {
    border: 3px solid white;
    padding: 7px 25px;
    color: white;
}

.custom-button-outline:hover {
    background-color: var(--light-highlight-color);
    color: #ffffff;
}

/* Footer */
#footer-group {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: static;
    width: 100%;
    padding: 2rem;
    text-align: left;
}

#footer-group h3 {
    color: #ffffff;
}

a {
    color: white;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

/* Media Queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* Make all services cards same height for improving consistency */
    #services .card-body {
        min-height: 191px;
    }
}

@media (max-width: 768px) {
    .container {
        background-size: contain;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Make all service cards the same height for consistency */
    #services .card-body {
        /* min-height removed as 'auto' has no effect */
    }

    /* XL devices (large desktops, 1200px and up) */
}

@media screen and (min-width: 1200px) {

    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

@media screen and (min-width: 1400px) {

    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}